<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pygmy.com - the World’s smallest book store</title>
        <h1>Welcome to Pygmy.com - the World’s smallest book store</h1>
        <div style="display: flex; align-items: stretch; justify-content: center">
            <div style="flex: 2; padding: 2em 1em 0em 2em">
                <form method='get' action='/search'>
                    <label>Search topic:</label><br>
                    {% if topicVal %}
                    <input type="text" id="topic" name="topic" placeholder="Please type in Title" value="{{ topicVal }}">
                    {% else %}
                    <input type="text" id="topic" name="topic" placeholder="Please type in Title" value="">
                    {% endif %}
                    <input type="submit" value="Search">
                </form>
                <br><br>
                <form method='get' action='/search'>
                    <label>Lookup price and number in stock:</label><br>
                    {% if lookupVal %}
                    <input type="text" id="lookupNum" name="lookupNum" placeholder="Please type in Number" value="{{ lookupVal }}">
                    {% else %}
                    <input type="text" id="lookupNum" name="lookupNum" placeholder="Please type in Number" value="">
                    {% endif %}
                    <input type="submit" value="Lookup">
                </form>
                <br><br>
                <form method='post' action='/'>
                    <label>Buy:</label><br>
                    <input type="text" id="buyNum" name="buyNum" placeholder="Please type in Number" value="{{ buyVal }}">
                    <input type="submit" value="Buy">
                </form>
            </div>
            <div style="flex: 3">
                {% if isDefault %}
                <h3>We have below books:</h3>
                <table>
                    <tr>
                        <th>Number</th>
                        <th>Title</th>
                        <th>Topic</th>
                    </tr>
                    {% for item in booklist %}
                    <tr>
                        <td>{{ item.number }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.topic }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <h3>Results:</h3>
                <table>
                    <tr>
                        <th>Number</th>
                        <th>Title</th>
                        <th>Topic</th>
                        <th>Price</th>
                        <th>number in stock</th>
                    </tr>
                    {% for item in results %}
                    <tr>
                        <td>{{ item.number }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.topic }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.stock }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
    </head>
    <body></body>
</html>
